* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

h1, h2 {
  text-align: center;
  color: black;
  margin: 1rem;
}

h2{
  font-size: 3rem;
}

#productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  max-width: 100%;
  margin: 0;
}

.producto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  height: 500px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s;
}

.producto img {
  height: 200px;
  width: 200px;
  align-self: center;
}

.producto h3 {
  font-size: 1.1rem;
}

.stock {
  font-size: 1rem;
  color: black;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: -5px;
}

.precio {
  font-size: 1rem;
  color: black;
  font-weight: 600;
}

.comprar {
  background-color: yellow;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.comprar:hover {
  background-color: rgba(255, 255, 0, 0.479);
}

.agregar-al-carrito {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
  transition: background-color 0.2s;
}


.total {
  padding: 10px;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: rgb(253, 53, 53);
  border-radius: 1rem;
  margin: 1rem 0;
}

.boton-finalizar-compra{
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 500;
  border-radius: .7rem;
  transition: background-color 0.3s;
  width: 20%;
}

.boton-finalizar-compra:hover{
  background-color: yellow;
  color: #000;
}

:root {
  --color_primario: yellow;
  --color_primario_suave: rgba(255, 255, 0, 0.904);
  --color_blanco: #fff;
  --altura_header: 80px;
  --padding_left_right: 2rem;
  --ancho_maximo: 1200px; }

body {
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none; }

.header {
  height: var(--altura_header);
  background-color: var(--color_primario); }

.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 var(--padding_left_right);
  text-align: center; }

.menu_hamburguesa {
  display: none; }

.menu_hamburguesa:checked + .ul_links {
  height: calc(100vh - var(--altura_header)); }

.titulo {
  margin-top: 20px;
  text-decoration: none;
  color: black;
  font-family: "Jost", sans-serif; }
  h1:hover {
    color: red; }

.list_icon {
  color: red;
  cursor: pointer; }

.ul_links {
  width: 100%;
  background-color: var(--color_primario_suave);
  position: absolute;
  top: var(--altura_header);
  left: 0;
  height: 0;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all .3s; }

.link {
  font-size: 35px;
  color: black;
  font-weight: bold; }

@media (min-width: 768px) {
  .labe_hamburguesa {
    display: none; }
  .ul_links {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: 0px; }
  .link {
    font-size: 1.2rem;
    transition: all .3s;
    padding: .2rem .7rem; }
    .link:hover {
      color: red; }
  h1 {
    display: none; }
  .navbar {
    margin-left: -10px; } }

@media (min-width: 1440px) {
  h1 {
    display: flex;
    margin-top: 10px; }
  .ul_links {
    gap: 2rem; } }

header nav a img {
  height: 50px;
  width: 50px; }


  .footer-index {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #e20d18; }

    .footer-index .ubicacion-index {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      margin: 10px; }
      .footer-index .ubicacion-index a {
        text-decoration: none;
        color: black;
        font-family: "Jost", sans-serif;
        font-weight: 800;
        font-size: 17px; }
        .footer-index .ubicacion-index a:hover {
          color: #e20d18; }
    .footer-index .ubicacion {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      margin: 10px; }
      .footer-index .ubicacion a {
        text-decoration: none;
        color: black;
        font-family: "Jost", sans-serif;
        font-weight: 800;
        font-size: 17px; }
      .footer-index .ubicacion:hover {
        color: yellow; }
    .footer-index .redes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 5px;
      margin-right: 12px;
      margin-left: 10px; }

.whatsapp_sticky {
  position: fixed;
  bottom: 60px;
  right: 10px; }


.wrapper{
  display: grid;
  grid-template-columns: 1fr 6fr;
  background-color: rgba(255, 255, 0, 0.13);
}

aside{
  padding: 2rem;
  padding-right: 0;
  color: red;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

aside a{
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}

.imagen-carrito{
  width: 1.2rem;
  height: 1.2rem;
}

.main-tienda{
  margin: 1rem;
  padding: 1rem;
  padding-top: 0;
  margin-left: 0;
  background-color: red;
  border-radius: 1em;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.boton-carrito{
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-left: .7rem;
}

.boton-categoria{
  background-color: transparent;
  border: 0;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  padding: 1em;
  width: 100%;
}


.boton-categoria.active{
  background-color: red;
  color: black;
  width: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: relative;
}

.boton-categoria.active::before{
  content: " ";
  position: absolute;
  width: 1rem;
  height: 2rem;
  bottom: 100%;
  right: 0;
  background-color: transparent;
  border-bottom-right-radius: .5rem;
  box-shadow: 0 1rem 0 red;
}

.boton-categoria.active::after{
  content: " ";
  position: absolute;
  width: 1rem;
  height: 2rem;
  top: 100%;
  right: 0;
  background-color: transparent;
  border-top-right-radius: .5rem;
  box-shadow: 0 -1rem 0 red;
}

li img{
  width: .5rem;
  height: .5rem;
}

li{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.return-negro{
  width: 1rem;
  height: 1rem;
}

.carrito-table{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito-producto{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: rgb(253, 77, 77);
  border-radius: 1rem;
  padding: 0.6rem;
  align-items: center;
  font-size: 18px;
}

.carrito-producto small{
  font-weight: 600;
  font-size: 16px;
}

.carrito-producto img {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
}

.botones-cantidad{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.botones-cantidad button{
  border: 0;
  background-color: yellow;
  font-size: 20px;
  padding: 0px 6px;
  border-radius: 6px;
}

.carrito-producto-eliminar{
  background-color: transparent;
  border: 0;
  margin-right: 10px;
  cursor: pointer;
}

.carrito-producto-eliminar img{
  width: 30px;
  height: 30px;
}

.carrito-producto-cantidad{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .7rem;
}

.carritoVacio{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.boton-vaciar-carrito{
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 500;
  border-radius: .7rem;
  transition: background-color 0.3s;
  width: 20%;
  margin-left: 20px;
}

.boton-vaciar-carrito:hover{
  background-color: yellow;
  color: #000;
}

.carrito-index{
  display: none;
}