* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

h1, h2 {
  text-align: center;
  color: black;
  margin: 1rem;
}

h2{
  font-size: 3rem;
}

#productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 80%;
  margin: 0 auto;
}

.producto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  height: 500px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s;
}

.producto img {
  height: 200px;
  width: 200px;
  align-self: center;
}

.producto h3 {
  font-size: 1.1rem;
}

.stock {
  font-size: 1rem;
  color: black;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: -5px;
}

.precio {
  font-size: 1rem;
  color: black;
  font-weight: 600;
}

.comprar {
  background-color: yellow;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.comprar:hover {
  background-color: rgba(255, 255, 0, 0.596);
}

.agregar-al-carrito {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.agregar-al-carrito:hover {
  background-color: #444;
}

.cart {
  border-top: 2px solid #000;
  margin-top: 20px;
  padding-top: 10px;
  max-width: 700px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carritoVacio{
  font-size: 20px;
  font-weight: 500;
}

.carrito-table {
  width: 100%;
  border-collapse: collapse;
}

.carrito-table th, .carrito-table td {
  padding: 10px;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 400;
}

.carrito-table th {
  background-color: #f4f4f4;
  font-weight: 500;
  text-align: center;
}

.eliminar-del-carrito {
  background-color: #d9534f;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.eliminar-del-carrito:hover {
  background-color: red;
}

.total {
  padding: 10px;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 500;
}

.boton-finalizar-compra{
  align-items: right;
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 500;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.boton-finalizar-compra:hover{
  background-color: yellow;
  color: #000;
}

:root {
  --color_primario: yellow;
  --color_primario_suave: rgba(255, 255, 0, 0.904);
  --color_blanco: #fff;
  --altura_header: 80px;
  --padding_left_right: 2rem;
  --ancho_maximo: 1200px; }

body {
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none; }

.header {
  height: var(--altura_header);
  background-color: var(--color_primario); }

.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 var(--padding_left_right);
  text-align: center; }

.menu_hamburguesa {
  display: none; }

.menu_hamburguesa:checked + .ul_links {
  height: calc(100vh - var(--altura_header)); }

.titulo {
  margin-top: 20px;
  text-decoration: none;
  color: black;
  font-family: "Jost", sans-serif; }
  h1:hover {
    color: red; }

.list_icon {
  color: red;
  cursor: pointer; }

.ul_links {
  width: 100%;
  background-color: var(--color_primario_suave);
  position: absolute;
  top: var(--altura_header);
  left: 0;
  height: 0;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all .3s; }

.link {
  font-size: 35px;
  color: black;
  font-weight: bold; }

@media (min-width: 768px) {
  .labe_hamburguesa {
    display: none; }
  .ul_links {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: 0px; }
  .link {
    font-size: 1.2rem;
    transition: all .3s;
    padding: .2rem .7rem; }
    .link:hover {
      color: red; }
  h1 {
    display: none; }
  .navbar {
    margin-left: -10px; } }

@media (min-width: 1440px) {
  h1 {
    display: flex;
    margin-top: 10px; }
  .ul_links {
    gap: 2rem; } }

header nav a img {
  height: 50px;
  width: 50px; }


  .footer-index {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #e20d18; }
    @media screen and (max-width: 425px) {
      .footer-index {
        flex-direction: column; } }
    @media screen and (max-width: 768px) {
      .footer-index {
        justify-content: space-around;
        padding: 8px; } }
    .footer-index .ubicacion-index {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      margin: 10px; }
      .footer-index .ubicacion-index a {
        text-decoration: none;
        color: black;
        font-family: "Jost", sans-serif;
        font-weight: 800;
        font-size: 17px; }
        .footer-index .ubicacion-index a:hover {
          color: #e20d18; }
    .footer-index .ubicacion {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      margin: 10px; }
      .footer-index .ubicacion a {
        text-decoration: none;
        color: black;
        font-family: "Jost", sans-serif;
        font-weight: 800;
        font-size: 17px; }
      .footer-index .ubicacion:hover {
        color: yellow; }
      @media screen and (max-width: 768px) {
        .footer-index .ubicacion {
          display: none; } }
      @media screen and (max-width: 425px) {
        .footer-index .ubicacion {
          display: none; } }
    .footer-index .redes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 5px;
      margin-right: 12px;
      margin-left: 10px; }
      @media screen and (max-width: 425px) {
        .footer-index .redes img {
          width: 40px;
          height: 40px; } }
      @media screen and (max-width: 425px) {
        .footer-index .redes {
          margin-top: 10px;
          margin-bottom: 10px; } }
    .footer-index .creditos {
      text-align: center;
      justify-content: center;
      color: yellow;
      font-family: Arial, Helvetica, sans-serif; }
      @media screen and (max-width: 425px) {
        .footer-index .creditos {
          margin-top: 5px; } }
      .footer-index .creditos p {
        margin-bottom: 0px; }

.whatsapp_sticky {
  position: fixed;
  bottom: 60px;
  right: 10px; }
  @media screen and (max-width: 425px) {
    .whatsapp_sticky {
      display: none; } }
  .whatsapp_sticky img {
    height: 50px;
    width: 50px; }

@media(max-width:425px) {
.carrito-table th, .carrito-table td{
    padding: 0px;
    font-size: 12px;
    text-align: center;
  }
  .eliminar-del-carrito{
    font-size: 10px;
    padding: 3px;
    font-weight: 300;
    margin-left: 5px;
  }
  .boton-finalizar-compra{
    font-size: 15px;
  }
  #carrito.cart{
    margin: 10px;
    padding: 10px;
  }
  .carrito-table th{
    font-weight: 600;
  }
}